@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');

@import 'flexboxgrid.scss';
@import 'typography.scss';
@import 'stripes.scss';
@import 'loader.scss';
@import 'bulletpoint.scss';

*{
  margin: 0;
  padding: 0;
  font-family: 'lato';
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
	padding: 10px 50px 0px;
  background-size: 300px 300px;
}

.box-space {
  margin-top: 20px;
}

.box-space-square {
  margin: 12px 0 12px;
}

.box-space-logo{
  margin: 28px 0 50px;
  .title{
    text-transform: capitalize;
    line-height: 60px;
  }
  a, span, .title {
    // text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    // 0px 8px 13px rgba(0,0,0,0.1),
    // 0px 18px 23px rgba(0,0,0,0.1);
    color: white;
    font-family: 'Holtwood One SC', serif;
  }
}

// PROJECT

.project {
  margin: 25px 0 35px;
  ul{
    margin-right: 15px;
    li{
      list-style: none;
      display: inline-flex;
      margin-right: 15px;
    }
  }
}

// HEADER

nav {
  span {
    margin-left: 15px;
    &:hover{
      cursor: pointer;
    }
    &.active{
      color: #9F280A;
    }
    &.inactive{
      color: black;
    }
  }
  .active{
    color: #9F280A;
  }
  .inactive{
    color: black;
  }
  a {
    margin-right: 15px;
  }
  .language {
    text-align: right;
  }
}

// FOOTER

footer {
  position: relative;
  text-align: center;
  margin: 70px 0 0px;
  h5, a, .subtitle2 {
    font-family: 'Holtwood One SC', serif;
    color: white;
    // text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    // 0px 8px 13px rgba(0,0,0,0.1),
    // 0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    &:hover {
      color: white;
    }
  }
  .social-box{
    display: block;
    width: 100%;
    margin-top: 3px;
    .subtitle2{
      font-size: 19px;
      margin-right: 15px;
    }
  }
}

@media only screen and (max-width: 650px) {
  footer {
    h5, .subtitle2 {
      font-size: 19px;
    }
  }

  .footer-stripe-box{
    width:20em;
    margin-left: -10em;
  }
}

@media only screen and (max-width: 650px) {
  // .language {
  //   display: none;
  // }
}
