@import 'variables/colors';
@import 'grid/flexboxgrid';
@import 'typography/typography';
@import 'decorations/decorations';
@import 'commons/header';
@import 'cv/logo';
@import 'commons/footer';

*{
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0 3.125em;
  // background-color: $negative;
}

main {
  padding: 2.5em 0;
}

article {
  margin-bottom: 1.75em;
  h5:first-of-type{
    margin-top: 0.8em;
  }
  p{
    &:first-of-type{ margin-top: 0.6em; }
    &:nth-of-type(4) { margin-top: 1em; }
  }
  ul{
    margin: 1em 1em 0 0;
    li{
      list-style: none;
      display: inline-flex;
      margin-right: 1em;
    }
  }
}

@media only screen and (max-width: 40.625em) {
  body {
    padding: 0 1.250em;
  }
}

