@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');

@import 'variables/colors';
@import 'grid/flexboxgrid.scss';
@import 'typography/typography.scss';
@import 'decorations/decorations.scss';

*{
  margin: 0;
  padding: 0;
  font-family: 'lato';
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
	padding: 10px 50px 0px;
  background-size: 300px 300px;
}

.box-space {
  margin: 20px 0 20px;
}

.box-space-square {
  margin: 12px 0 12px;
}

// LOGO
.box-space-logo{
  margin: 28px 0 50px;
  .title{
    text-transform: capitalize;
    line-height: 60px;
  }
  a, span, .title {
    color: white;
    font-family: 'Holtwood One SC', serif;
  }
}

// HEADER
nav {
  span {
    margin-left: 15px;
    &:hover{
      cursor: pointer;
    }
    &.active{
      color: $line1;
    }
    &.inactive{
      color: $typo;
    }
  }
  .active{
    color: $line1;
  }
  .inactive{
    color: $typo;
  }
  a {
    margin-right: 15px;
  }
  .language {
    text-align: right;
  }
}

// PROJECT
.project {
  margin: 25px 0 35px;
  ul{
    margin-right: 15px;
    li{
      list-style: none;
      display: inline-flex;
      margin-right: 15px;
    }
  }
}

// FOOTER
footer {
  position: relative;
  margin: 70px 0 0 0;
  height: 90px;
  h5, a, .subtitle2 {
    font-family: 'Holtwood One SC', serif;
    color: white;
    &:hover {
      color: white;
    }
  }
  .social-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    .social-box {
      margin-top: 3px;
      .subtitle2 {
        font-size: 19px;
        margin-right: 15px;
      }
      .subtitle2:last-child {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  footer {
    h5, .subtitle2 {
      font-size: 19px;
    }
  }
  body {
    padding: 10px 20px 0px;
  }
}

