.stripe-box {
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
} 

.stripe-1 {
  width: 60%;
  height: 20px;
  background-color: #9F280A;
  animation: stripe-1 10s ease-in-out 3s infinite alternate;
}

.stripe-2 {
  width: 61%;
  height: 20px;
  background-color: #BC320D;
  animation: stripe-2  10s ease-in-out 3s infinite alternate;
}

.stripe-3 {
  width: 62%;
  height: 20px;
  background-color: #EC6806;
  animation: stripe-3 10s ease-in-out 3s infinite alternate;
}

.stripe-4 {
  width: 63%;
  height: 20px;
  background-color: #FFB901;
  animation: stripe-4 10s ease-in-out 3s infinite alternate;
}

.stripe-5 {
  width: 64%;
  height: 20px;
  background-color: #958823;
  animation: stripe-5 10s ease-in-out 3s infinite alternate;
}

.stripe-6 {
  width: 65%;
  height: 20px;
  background-color: #2F7443;
  animation: stripe-6 10s ease-in-out 3s infinite alternate;
}

@keyframes stripe-1 {
  0% {
    width: 60%;
  }
  30% {
    width: 95%;
  }
  50%{
    width: 95%;
  }
  52% {
    width: 99%;
  }
  54% {
    width: 94%;
  }
  56% {
    width: 98%;
  }
  58% {
    width: 96%;
  }
  60% {
    width: 97%;
  }
  62% {
    width: 95%;
  }
  64% {
    width: 98%;
  }
  66% {
    width: 91%;
  }
  68% {
    width: 98%;
  }
  70% {
    width: 95%;
  }
  90% {
    width: 60%;
  }
  100% {
    width: 60%;
  }
}

@keyframes stripe-2 {
  0% {
    width: 61%;
  }
  30% {
    width: 96%;
  }
  50%{
    width: 96%;
  }
  52% {
    width: 93%;
  }
  54% {
    width: 99%;
  }
  56% {
    width: 95%;
  }
  58% {
    width: 100%;
  }
  60% {
    width: 95%;
  }
  62% {
    width: 98%;
  }
  64% {
    width: 92%;
  }
  66% {
    width: 95%;
  }
  68% {
    width: 90%;
  }
  70% {
    width: 96%;
  }
  90% {
    width: 61%;
  }
  100% {
    width: 61%;
  }
}

@keyframes stripe-3 {
  0% {
    width: 62%;
  }
  30% {
    width: 97%;
  }
  50%{
    width: 97%;
  }
  52% {
    width: 97%;
  }
  54% {
    width: 93%;
  }
  56% {
    width: 98%;
  }
  58% {
    width: 94%;
  }
  60% {
    width: 99%;
  }
  62% {
    width: 94%;
  }
  64% {
    width: 96%;
  }
  66% {
    width: 92%;
  }
  68% {
    width: 97%;
  }
  70% {
    width: 97%;
  }
  90% {
    width: 62%;
  }
  100% {
    width: 62%;
  }
}

@keyframes stripe-4 {
  0% {
    width: 63%;
  }
  30% {
    width: 98%;
  }
  50%{
    width: 98%;
  }
  52% {
    width: 92%;
  }
  54% {
    width: 99%;
  }
  56% {
    width: 93%;
  }
  58% {
    width: 97%;
  }
  60% {
    width: 94%;
  }
  62% {
    width: 96%;
  }
  64% {
    width: 90%;
  }
  66% {
    width: 98%;
  }
  68% {
    width: 93%;
  }
  70% {
    width: 98%;
  }
  90% {
    width: 63%;
  }
  100% {
    width: 63%;
  }
}

@keyframes stripe-5 {
  0% {
    width: 64%;
  }
  30% {
    width: 99%;
  }
  50%{
    width: 99%;
  }
  52% {
    width: 99%;
  }
  54% {
    width: 93%;
  }
  56% {
    width: 97%;
  }
  58% {
    width: 93%;
  }
  60% {
    width: 98%;
  }
  62% {
    width: 95%;
  }
  64% {
    width: 97%;
  }
  66% {
    width: 93%;
  }
  68% {
    width: 98%;
  }
  70% {
    width: 99%;
  }
  90% {
    width: 64%;
  }
  100% {
    width: 64%;
  }
}

@keyframes stripe-6 {
  0% {
    width: 65%;
  }
  30% {
    width: 100%;
  }
  50%{
    width: 100%;
  }
  52% {
    width: 92%;
  }
  54% {
    width: 100%;
  }
  56% {
    width: 95%;
  }
  58% {
    width: 98%;
  }
  60% {
    width: 92%;
  }
  62% {
    width: 95%;
  }
  64% {
    width: 91%;
  }
  66% {
    width: 99%;
  }
  68% {
    width: 92%;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 65%;
  }
  100% {
    width: 65%;
  }
}

@media only screen and (max-width: 1056px) {
  .stripe-1, .stripe-2, .stripe-3, .stripe-4, .stripe-5, .stripe-6 {
    width: 100%;
    animation: none !important;
  }
}

@media only screen and (max-width: 650px) {
  .stripe-1, .stripe-2, .stripe-3, .stripe-4, .stripe-5, .stripe-6 {
    width: 100%;
    height: 30px;
    animation: none !important;
  }
}


// footer

.footer-stripe-box{
  width:30em;
  height:90px;
  // margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  position: absolute;
  z-index: -1;
  bottom: -16px;
  left: 50%;
}

.footer-stripe-1 {
  width: 100%;
  height: 15px;
  background-color: #9F280A;
}

.footer-stripe-2 {
  width: 95%;
  height: 15px;
  background-color: #BC320D;
  margin-left: 2.5%;
}

.footer-stripe-3 {
  width: 90%;
  height: 15px;
  background-color: #EC6806;
  margin-left: 5%;
}

.footer-stripe-4 {
  width: 85%;
  height: 15px;
  background-color: #FFB901;
  margin-left: 7.5%;
}

.footer-stripe-5 {
  width: 80%;
  height: 15px;
  background-color: #958823;
  margin-left: 10%;
}

.footer-stripe-6 {
  width: 75%;
  height: 15px;
  background-color: #2F7443;
  margin-left: 12.5%;
}


