
h1 {
  // opacity: 0.87;
  font-size: 96px;
  font-weight: 300;
  color: #000000;
  letter-spacing: -1.5px;
  text-align: left;
}

h2 {
  // opacity: 0.87;
  font-size: 60px;
  font-weight: 300;
  color: #000000;
  letter-spacing: -0.5px;
  text-align: left;
}

h3{
  // opacity: 0.87;
  font-size: 48px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

h4 {
  // opacity: 0.87;
  font-size: 34px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.25px;
  text-align: left;
}

h5 {
  // opacity: 0.87;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

h6 {
  // opacity: 0.87;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.15px;
}

.subtitle1{
  // opacity: 0.87;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.15px;
  text-align: left;
  line-height: 24px;
}

.subtitle2 {
  // opacity: 0.87;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 24px;
}

.body1, p{
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.44px;
  text-align: left;
  line-height: 28px;
}

.body2{
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.44px;
  text-align: left;
  line-height: 28px;
}

.btn{
  // opacity: 0.87;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

a, .link {
  // opacity: 0.87;
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #9F280A;
  }

}