@mixin typography($size, $weight, $lineH: normal) {
  font-size: $size;
  font-weight: $weight;
  color: $base;
  line-height: $lineH;
}

h1 { @include typography(6em, 300); }
h2 { @include typography(3.750em, 300, 1em); }
h3 { @include typography(3em, 400); }
h4 { @include typography(2.125em, 400); }
h5 { @include typography(1.5em, 400); }
h6 { @include typography(1.250em, 500); }

.subtitle1{ @include typography(1em, 400, 1.5em); }
.subtitle2 { @include typography(0.875em, 500, 1.5em); }

.body1, p { @include typography(1em, 400, 1.75em); }
.body2 { @include typography(0.875em, 400, 1.75em); }

.btn {
  @include typography(0.875em, 500);
  text-transform: uppercase;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: $base;
  &:hover {
    color: $hover;
  }
  svg{
    font-size: inherit;
  }
}

// utils
.capitalize { text-transform: capitalize; }
.negative, a.negative { 
  color: $negative;
  &:hover {
    color: $negative;
  }
}
.holtwood { font-family: 'Holtwood One SC', serif; }