@mixin bullet($width, $height, $top, $left, $color) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  background-color: $color;
}

.bullet-point-box{
  width: 1.875em;
  height: 1.875em;
  margin-right: 0.625em;
  position: relative;

  .circle {
    display: inline-block;
    text-align: center;
    border-radius:50%;
    background-size: cover;
    position: absolute;
  }

  .bullet-1{ @include bullet(1.875em, 1.875em, 0, 0, $line1); }
  .bullet-2{ @include bullet(1.563em, 1.563em, 0.156em, 0.156em, $line2); }
  .bullet-3{ @include bullet(1.250em, 1.250em, 0.313em, 0.313em, $line3); }
  .bullet-4{ @include bullet(0.938em, 0.938em, 0.469em, 0.469em, $line4); }
  .bullet-5{ @include bullet(0.625em, 0.625em, 0.625em, 0.625em, $line5); }
  .bullet-6{ @include bullet(0.313em, 0.313em, 0.781em, 0.781em, $line6); }
}
