@mixin bullet($width, $height, $top, $left, $color) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  background-color: $color;
}

.bullet-point-box{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;

  .circle {
    display: inline-block;
    text-align: center;
    border-radius:50%;
    background-size: cover;
    position: absolute;
  }

  .bullet-1{ @include bullet(30px, 30px, 0, 0, $line1); }
  .bullet-2{ @include bullet(25px, 25px, 2.5px, 2.5px, $line2); }
  .bullet-3{ @include bullet(20px, 20px, 5px, 5px, $line3); }
  .bullet-4{ @include bullet(15px, 15px, 7.5px, 7.5px, $line4); }
  .bullet-5{ @include bullet(10px, 10px, 10px, 10px, $line5); }
  .bullet-6{ @include bullet(5px, 5px, 12.5px, 12.5px, $line6); }
}
