@mixin stripe($stripe, $width, $color) {
  width: $width;
  height: 20px;
  background-color: $color;
  animation: $stripe 10s ease-in-out 3s infinite alternate;
}

@mixin keyframe($stripe, $keyframes) {
  @keyframes #{$stripe} {
    @each $percentage, $width in $keyframes {
      #{$percentage} {
        width: $width;
      }
    }
  }
}

.stripe-box {
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
} 

.stripe-1 { @include stripe(stripe-1, 60%, $line1); }
.stripe-2 { @include stripe(stripe-2, 61%, $line2); }
.stripe-3 { @include stripe(stripe-3, 62%, $line3); }
.stripe-4 { @include stripe(stripe-4, 63%, $line4); }
.stripe-5 { @include stripe(stripe-5, 64%, $line5); }
.stripe-6 { @include stripe(stripe-6, 65%, $line6); }

@include keyframe(
  stripe-1,
  (0%: 60%, 30%: 95%, 50%: 95%, 52%: 99%, 54%: 94%, 56%: 93%, 58%: 96%, 60%: 97%, 
  62%: 95%, 64%: 98%, 66%: 91%, 68%: 98%, 70%: 95%, 90%: 60%, 100%: 60%)  
);
@include keyframe(
  stripe-2,
  (0%: 61%, 30%: 96%, 50%: 96%, 52%: 93%, 54%: 99%, 56%: 95%, 58%: 100%, 60%: 95%, 
  62%: 98%, 64%: 92%, 66%: 95%, 68%: 90%, 70%: 96%, 90%: 61%, 100%: 61%)  
);
@include keyframe(
  stripe-3,
  (0%: 62%, 30%: 97%, 50%: 97%, 52%: 97%, 54%: 93%, 56%: 98%, 58%: 94%, 60%: 99%, 
  62%: 94%, 64%: 96%, 66%: 92%, 68%: 97%, 70%: 97%, 90%: 62%, 100%: 62%)  
);
@include keyframe(
  stripe-4,
  (0%: 63%, 30%: 98%, 50%: 98%, 52%: 92%, 54%: 99%, 56%: 93%, 58%: 97%, 60%: 94%, 
  62%: 96%, 64%: 90%, 66%: 98%, 68%: 93%, 70%: 98%, 90%: 63%, 100%: 63%)  
);
@include keyframe(
  stripe-5,
  (0%: 64%, 30%: 99%, 50%: 99%, 52%: 99%, 54%: 93%, 56%: 97%, 58%: 93%, 60%: 98%, 
  62%: 95%, 64%: 97%, 66%: 93%, 68%: 98%, 70%: 99%, 90%: 64%, 100%: 64%)  
);
@include keyframe(
  stripe-6,
  (0%: 65%, 30%: 100%, 50%: 100%, 52%: 92%, 54%: 100%, 56%: 95%, 58%: 98%, 60%: 92%, 
  62%: 95%, 64%: 91%, 66%: 99%, 68%: 92%, 70%: 100%, 90%: 65%, 100%: 65%)  
);

@media only screen and (max-width: 1056px) {
  .stripe-1, .stripe-2, .stripe-3, .stripe-4, .stripe-5, .stripe-6 {
    width: 100%;
    animation: none !important;
  }
}

@media only screen and (max-width: 650px) {
  .stripe-1, .stripe-2, .stripe-3, .stripe-4, .stripe-5, .stripe-6 {
    width: 100%;
    height: 30px;
    animation: none !important;
  }
}