// rainbow color set
$line1: #9F280A;
$line2: #BC320D;
$line3: #EC6806;
$line4: #FFB901;
$line5: #958823;
$line6: #2F7443;

$lineHover1: #e73a0f;
$lineHover2: #f05026;
$lineHover3: #fa9244;
$lineHover4: #ffce4d;
$lineHover5: #d0be35;
$lineHover6: #45aa62;

// typography
$typo: #333333;
$hover: #9F280A;

